﻿@model IEnumerable<CodingTest.Models.User>
@{
    ViewBag.Title = "UserByDepartment";
}

@if (Model.Count() != 0)
 { 
    <h2>Users in this Department</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Users", new { id = item.Id }, null)
                </td>
            </tr>
        }

    </table>

}
else
{
    <br />
    <p>There is no user in this Department </p>
}
